# -- Aliases ------------------------------------------------------------------
if type -q "pip3"
  alias pip3-outdated='pip3 list --outdated --format=freeze'
end

if type -q "subl"
  alias s=subl
end

if type -q "ncdu"
  if test (uname) = "Darwin"
    alias ncdu='ncdu -xe --exclude-firmlinks --color dark'
  else
    alias ncdu='ncdu -xe --color dark'
  end
end

if type -q "yt-dlp"
  alias youtube-dl=yt-dlp
  alias youtube-dl-audio='yt-dlp --ignore-errors --output "~/Downloads/%(title)s.%(ext)s" --extract-audio --audio-format mp3 --no-call-home'
end

if type -q "chezmoi"
  alias cm=chezmoi
end

if type -q "nvim"
  alias vim=nvim
end

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper (Renderer) --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Make sure to have installed coreutils using `brew install coreutils`.
# Otherwise use `alias ls="ls -lAhGO"` on macOS for the same results.
alias ls="ls -lAh --color=auto --group-directories-first"

alias unset 'set --erase'

# -- Keybindings --------------------------------------------------------------
set -gx EDITOR nano
bind \ce edit_command_buffer

{{ if eq .chezmoi.os "linux" -}}
{{ $sshSession := (or (env "SSH_CLIENT") (env "SSH_TTY")) }}
{{ if and (not $sshSession) (.linux.display_server eq "x11") }}
# -- Linux: Start X at login --------------------------------------------------
if test (uname) = "Linux"
  and status is-login
  and test -z "$DISPLAY" -a "$XDG_VTNR" = 1
  if type -q "wal"
    wal -i ~/.wallpaper
    cat ~/.cache/wal/sequences &
  end
  exec startx -- -keeptty
end
{{ end -}}

{{ range .linux.additional_paths }}
set -p PATH {{ . }}
{{ end -}}
{{ end -}}


{{ if eq .chezmoi.os "darwin" -}}
# -- macOS --------------------------------------------------------------------
set HOMEBREW_NO_ANALYTICS 1

{{ range .darwin.additional_paths -}}
set -p PATH {{ . }}
{{ end }}

if type -q "go"
  set GOBIN $HOME/go/bin

  set -p PATH /usr/local/opt/go/libexec/bin
  set -p PATH $GOBIN
end

launchctl setenv PATH "$PATH"
{{ end -}}
