{{- if hasKey .chezmoi.osRelease "id" -}}
{{- if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/usr/bin/env bash
set -euo pipefail

# Aptfile hash: {{ include "packages/Aptfile" | sha256sum }}
# Aptfile.x11 hash: {{ include "packages/Aptfile.x11" | sha256sum }}

# Install packages
sudo apt-get update
cat packages/Aptfile | xargs sudo apt-get install -y
{{ if eq .linux.display_server "x11" }}
cat packages/Aptfile.x11 | xargs sudo apt-get install -y
{{ end }}

# Install Meslo Nerd Font
(
version="$(curl --silent "https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest" | jq -r ".tag_name")"
url="https://github.com/ryanoasis/nerd-fonts/releases/download/${version}/Meslo.zip"
wget -nc "$url"
filename="$(basename "$url")"
mkdir -p "$HOME/.fonts"
unzip -u "$filename" -d "$HOME/.fonts"
fc-cache -fv
rm "$filename" || true
)


# Install Starship prompt
(
wget -nc https://starship.rs/install.sh
chmod +x install.sh
sudo ./install.sh -y
)


# Install git diff syntax highlighter
(
version="$(curl --silent "https://api.github.com/repos/dandavison/delta/releases/latest" | jq -r ".tag_name")"
url="https://github.com/dandavison/delta/releases/download/${version}/git-delta_${version}_$(dpkg --print-architecture).deb"
wget -nc "$url"
filename="$(basename "$url")"
sudo dpkg -i "$filename"
rm "$filename" || true
)


# Disable Ubuntu motd spam
# https://eklitzke.org/disabling-ubuntu-motd-spam
if [ -f /etc/default/motd-news ]; then
  sudo sed -i 's/^ENABLED=.*/ENABLED=0/' /etc/default/motd-news
fi


# Disable sudo password for current user
echo "$USER ALL=(ALL) NOPASSWD:ALL" | sudo tee "/etc/sudoers.d/$USER" > /dev/null
{{- end -}}
{{- end }}
