{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -euo pipefail

# Brewfile hash: {{ include "packages/Brewfile" | sha256sum }}

# Install Homebrew if needed
if ! command -v brew; then
  echo "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew already installed, trying to update ..."
  brew update && brew upgrade
fi

# Install packages
brew bundle --file={{ .chezmoi.sourceDir }}/packages/Brewfile
{{- end }}
