#!/usr/bin/env bash
set -euo pipefail

# Setup zfunctions
ln -sf "$HOME/.config/zsh/external/zsh-syntax-highlighting/zsh-syntax-highlighting.plugin.zsh" "$HOME/.config/zsh/zfunctions/syntax-highlighting" 2>/dev/null

{{- if (eq .osid "linux-synology") -}}
if [ "$(grep "/opt" -c ~/.extra 2> /dev/null || true)" -eq 0 ]; then
  echo 'export PATH="/usr/local/bin:/opt/bin:/opt/sbin:$PATH"' >> ~/.extra
fi
{{- end }}
