{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -euo pipefail

# Brewfile hash: {{ include "packages/Brewfile" | sha256sum }}

# Install Homebrew if needed
if ! command -v brew; then
  echo "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew already installed, trying to update ..."
  brew update && brew upgrade --yes
fi

# Install packages
echo
read -p "(Re)install packages from Brewfile? " -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]; then
  brew bundle install --file={{ .chezmoi.sourceDir }}/packages/Brewfile
fi
echo
{{- end }}
