{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

# Brewfile hash: {{ include "packages/Brewfile" | sha256sum }}

# Install Homebrew if needed
if ! command -v brew; then
  echo "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew already installed, trying to update ..."
  brew update && brew upgrade
fi


# Install packages
brew bundle --file={{ .chezmoi.sourceDir }}/packages/Brewfile


# Add itermcolors to iTerm configuration
# 'perl' command replaces 'grep -P -o' which is not available under macOS
# Ref: https://stackoverflow.com/a/16658690
IFS=$'\n'
installed_themes=$(defaults read "{{ .chezmoi.homeDir }}/Library/Preferences/com.googlecode.iterm2.plist" "Custom Color Presets" | perl -nle 'print $& while m{^\s{4}\K(\w|").*"?(?= =)}g' | tr -d '"')
available_themes=$(find "{{ .chezmoi.sourceDir }}/itermcolors/" -name "*.itermcolors" -exec basename "{}" .itermcolors \; | sort)

installable_themes=$(comm -23 <(echo "$available_themes") <(echo "$installed_themes"))
for theme in $installable_themes; do
  open "{{ .chezmoi.sourceDir }}/itermcolors/$theme.itermcolors"
done
{{- end }}
