{{- if (eq .osid "linux-synology") -}}
#!/usr/bin/env bash
set -euo pipefail

# Opkgfile hash: {{ include "packages/Opkgfile" | sha256sum }}

# Let Ansible detect opkg in `ansible_pkg_mgr`
# https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/pkg_mgr.py#L23
[ -L /bin/opkg ] || ln -s /opt/bin/opkg /bin/opkg

# Install packages
opkg update
cat {{ .chezmoi.sourceDir }}/packages/Opkgfile | xargs opkg install

# Install Starship prompt
# Versions > 1.12.0 are currently not working on Synology:
#
# thread '<unnamed>' panicked at library/std/src/sys/unix/time.rs:134:68:
# called `Result::unwrap()` on an `Err` value: Os { code: 22, kind: InvalidInput, message: "Invalid argument" }
wget https://github.com/starship/starship/releases/download/v1.12.0/starship-arm-unknown-linux-musleabihf.tar.gz
tar xzf starship-arm-unknown-linux-musleabihf.tar.gz
sudo mv starship /usr/local/bin
rm starship-arm-unknown-linux-musleabihf.tar.gz
{{- end }}
