export LANG=en_US.UTF-8
export ZSH_CACHE_DIR="$HOME/.config/zsh/cache"

# Variables may be already defined from the outside (e.g. VSCode terminal)
[ -z "$EDITOR" ] && export EDITOR='vim'
[ -z "$GIT_EDITOR" ] && export GIT_EDITOR='vim'

{{ if hasKey .chezmoi.osRelease "id" -}}
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
export MANPAGER="sh -c 'col -bx | batcat -l man -p'"
{{- end -}}
{{- else -}}
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
{{- end }}

export HISTORY_IGNORE='(ls|(?:cd )?\.{2,}|docker (ps|rm|stop)|.*base64 -d$)'

fpath=( "$HOME/.config/zsh/zfunctions" $fpath )

# Enable autocompletion
autoload -Uz compinit
() {
  if [[ $# -gt 0 ]]; then
    compinit
  else
    compinit -C
  fi
} ${ZDOTDIR:-$HOME}/.zcompdump(N.mh+24)

# Enable ls colors
autoload -U colors; colors
export CLICOLOR=1
export LSCOLORS="Gxfxcxdxbxegedabagacad"

# Automatically quote meta-characters in URLs!
autoload -U url-quote-magic
zle -N self-insert url-quote-magic

# Include dotfiles in globbing
# https://coderwall.com/p/rfwjlq
setopt globdots

# Don't share history between sessions/panes
# setopt no_share_history


# == Changing Directories ==
# If a command can’t be executed as a normal command, and the command is
# the name of a directory, perform the cd command to that directory.
setopt auto_cd
# don't push multiple copies of the same directory onto the directory stack
setopt pushd_ignore_dups


# == Sourcing all the things ... ==
for file in ~/.config/zsh/*.zsh; do source "$file"; done; unset file
source ~/.config/zsh/zfunctions/syntax-highlighting


# == Prompt ==
autoload -U promptinit; promptinit
eval "$(starship init zsh)"

{{ if eq .chezmoi.os "linux" -}}
# == Linux ==
{{ range .linux.additional_paths }}
PATH={{ . }}:$PATH
{{ end }}
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
# == macOS ==
export HOMEBREW_NO_ANALYTICS=1

{{ range .darwin.additional_paths -}}
PATH={{ . }}:$PATH
{{ end }}
export HOMEBREW_PREFIX=/opt/homebrew

if [ "${commands[go]}" ]; then
  export GOBIN=$HOME/go/bin
  export PATH=$HOMEBREW_PREFIX/opt/go/libexec/bin:$GOBIN:$PATH
fi

export PATH
launchctl setenv PATH "$PATH"
{{ end -}}

source ~/.extra

{{- if hasKey .chezmoi.osRelease "id" -}}
{{- if eq .chezmoi.osRelease.id "arch" }}
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh
{{ else }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end -}}
{{ end -}}
