export LANG=en_US.UTF-8
export ZSH_CACHE_DIR="$HOME/.config/zsh/cache"
export HISTORY_IGNORE='(ls|(?:cd )?\.{2,}|docker (ps|rm|stop)|.*base64 -d$)'
{{ if (eq .osid "linux-arch") -}}
# pacdiff
DIFFPROG='nvim -d'
MERGEPROG='git merge-file -p --diff3'
{{- end }}
{{ if (hasKey .chezmoi.osRelease "id") -}}
export MANPAGER="sh -c 'col -bx | bat{{ if (eq .chezmoi.osRelease.id "ubuntu") }}cat{{ end }} -l man -p'"
{{- end }}
{{ if (eq .chezmoi.os "darwin") -}}
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
{{- end }}
{{ if (eq .chezmoi.os "darwin") -}}
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_PREFIX=/opt/homebrew
{{- end }}

# Variables may be already defined from the outside (e.g. VSCode terminal)
[ -z "$EDITOR" ] && export EDITOR='vim'
[ -z "$GIT_EDITOR" ] && export GIT_EDITOR='vim'

# zsh function paths
fpath=(
  "$HOME/.config/zsh/zfunctions"
  {{ if (eq .chezmoi.os "darwin") -}}"$HOMEBREW_PREFIX/share/zsh/site-functions"{{- end }}
  "${fpath[@]}"
)

# Enable autocompletion
autoload -Uz compinit
() {
  if [[ $# -gt 0 ]]; then
    compinit
  else
    compinit -C
  fi
} ${ZDOTDIR:-$HOME}/.zcompdump(N.mh+24)

# Enable ls colors
autoload -U colors; colors
export CLICOLOR=1
export LSCOLORS="Gxfxcxdxbxegedabagacad"

# Automatically quote meta-characters in URLs!
autoload -U url-quote-magic
zle -N self-insert url-quote-magic

# Enable zmv for moving/renaming files
# https://filipe.kiss.ink/zmv-zsh-rename/
autoload -Uz zmv
alias mmv='noglob zmv -W'

# Include dotfiles in globbing
# https://coderwall.com/p/rfwjlq
setopt globdots

# Don't share history between sessions/panes
# setopt no_share_history


# == Changing Directories ==
# If a command can’t be executed as a normal command, and the command is
# the name of a directory, perform the cd command to that directory.
setopt auto_cd
# don't push multiple copies of the same directory onto the directory stack
setopt pushd_ignore_dups


{{ if (eq .chezmoi.os "darwin") -}}
# == macOS ==
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_PREFIX=/opt/homebrew

if [ "${commands[go]}" ]; then
  export GOBIN=$HOME/go/bin
  export PATH=$HOMEBREW_PREFIX/opt/go/libexec/bin:$GOBIN:$PATH
fi

# Source GNU utils and manpages
for d in ${HOMEBREW_PREFIX}/opt/*/libexec/gnubin; do export PATH=$d:$PATH; done
for d in ${HOMEBREW_PREFIX}/opt/*/libexec/gnuman; do export MANPATH=$d:$MANPATH; done

export PATH=~/.local/bin:$HOMEBREW_PREFIX/bin:$HOMEBREW_PREFIX/opt/openssl/bin:$PATH
/bin/launchctl setenv PATH "$PATH"
{{- else -}}
export PATH=~/.local/bin:$PATH
{{ end }}


# == Sourcing all the things ... ==
for file in ~/.config/zsh/*.zsh; do source "$file"; done; unset file
source ~/.config/zsh/zfunctions/syntax-highlighting

source ~/.extra

{{- if (eq .osid "linux-arch") }}
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh
{{ else }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end }}


# == Prompt ==
autoload -U promptinit; promptinit
eval "$(starship init zsh)"
