{{- $platform := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $platform = .chezmoi.osRelease.id -}}
{{- else if contains "/syno/" (env "PATH") -}}
{{-   $platform = "synology" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $platform = "macos" -}}
{{- end -}}

{{- $file := (print "setup/install-packages." $platform ".sh") -}}
{{- include $file -}}

# Run subshell to source all changes
(
  vim -E -s +PlugInstall +visual +qall
)

{{- if eq .chezmoi.os "darwin" -}}
{{ include "setup/install-applications.macos.sh" }}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{- $sshSession := (or (env "SSH_CLIENT") (env "SSH_TTY")) -}}
{{- if and (eq .chezmoi.osRelease.id "arch") (not $sshSession) (.linux.display_server eq "x11") -}}
xrdb -merge ~/.Xresources

{{ include "setup/install-applications.arch.sh" }}
{{- end -}}
{{- end -}}
