#!/usr/bin/env bash
set -euo pipefail

{{- $platform := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $platform = .chezmoi.osRelease.id -}}
{{- else if contains "/syno/" (env "PATH") -}}
{{-   $platform = "synology" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $platform = "macos" -}}
{{- end }}

readonly OS="{{ $platform }}"

{{ $file := (print "setup/setup-shell." .shell ".sh") }}
{{ include $file }}
