<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.restic</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/frederic/.local/bin/restic-backup</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/var/log/restic-backup.err</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/var/log/restic-backup.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
