[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	autocrlf = input
	quotepath = false
	filemode = false
	pager = delta
[interactive]
	diffFilter = delta --color-only
[alias]
	a = add
	st = status
	ci = commit
	cm = commit -m
	cam = commit --amend
	br = branch
	co = checkout
	pl = pull
	cl = clone
	pu = push
	puf = push --force-with-lease
	cp = cherry-pick
	stash = stash --include-untracked
	sta = stash
	staa = stash apply
	contributors = shortlog -s -n
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	undopush = push -f origin HEAD^:master
	delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
	fix = commit --amend --no-edit
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "main"]
	remote = origin
	merge = refs/heads/main
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[color "branch"]
	current = green bold
	local = green
	remote = red bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "diff-highlight"]
	oldNormal = "red bold"
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red
[color "sh"]
	branch = yellow
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[mergetool]
	keepBackup = false
{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = osxkeychain
{{ end -}}
[push]
	default = current
	followTags = true
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[help]
	autocorrect = -1
[diff]
	colorMoved = default
	compactionHeuristic = true
[diff "exif"]
	textconv = exiftool
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
