#!/usr/bin/env zsh

# Make sure to have installed coreutils using `brew install coreutils`.
# Otherwise use `alias ls="ls -lAhGO"` on macOS for the same results.
alias ls="ls -lAh --color=auto --group-directories-first"

alias k9="kill -9"

function colorenv {
  echo -e "$(env | sort | sed 's|^|\\033[0;34m|g;s|=|\\033[1;97m=\\033[0;32m|g')\\033[0m"
}

# -- misc apps ----------------------------------------------------------------
if [ "${commands[subl]}" ]; then
  alias s=subl
fi

if [ "${commands[yt-dlp]}" ]; then
  alias yt-dlp-audio='yt-dlp -f "bestaudio[ext=m4a]/bestaudio[ext=mp3]" --ignore-errors'
fi

if [ "${commands[pip]}" ]; then
  alias pip-outdated='pip list --outdated --format=freeze'
fi

if [ "${commands[ncdu]}" ]; then
{{- if (eq .osid "linux-synology") }}
  alias ncdu='ncdu --color off'
{{- else }}
  alias ncdu='ncdu -xe --color dark'
{{- end }}
fi

if [ "${commands[chezmoi]}" ]; then
  alias cm=chezmoi
fi

if [ "${commands[nvim]}" ]; then
  alias vim=nvim
  alias vimdiff='nvim -d'
fi

# Ubuntu uses a different executable name ¯\_(ツ)_/¯
if [ "${commands[batcat]}" ]; then
  alias bat=batcat
fi
