# -- General settings ----------------------------------------------------------
# Change the default $TERM to screen-256color
set -g default-terminal "screen-256color"

# Set true color terminal
set-option -sa terminal-overrides ",xterm*:Tc"

# Expect UTF-8 (tmux < 2.2)
set -q -g status-utf8 on
setw -q -g utf8 on

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# Focus events enabled for terminals that support them
set -g focus-events on

# Enable mouse mode (tmux 2.1 and above)
set -g mouse on

# Start window numbers with 1
set -g base-index 1
# Make pane numbering consistent with windows
setw -g pane-base-index 1

# rename window to reflect current program
setw -g automatic-rename on
# renumber windows when a window is closed
set -g renumber-windows on

# set terminal title
set -g set-titles on
set -g set-titles-string "#S:#I:#W #{session_alerts}"


# -- Key bindings --------------------------------------------------------------
# Remap prefix from 'C-b' to 'C-a'
# Additional GNU-Screen compatible prefix 'C-a' besides default 'C-b'
set -g prefix2 C-a
bind C-a send-prefix -2

# Split panes using 'h' and 'v'
bind h split-window -h -c "#{pane_current_path}"
bind v split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# Reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.config/tmux/tmux.conf \; display '~/.config/tmux/tmux.conf sourced'

# Switch panes using Ctrl-Shift-arrow without prefix
bind -n C-S-Left select-pane -L
bind -n C-S-Right select-pane -R
bind -n C-S-Up select-pane -U
bind -n C-S-Down select-pane -D

{{ if and (eq .chezmoi.os "linux") (eq .linux.display_server "x11") }}
# Copying from Tmux buffer to Linux System clipboard
# https://linuxhint.com/copy-paste-clipboard-tmux/
bind C-c run 'tmux save-buffer - | xclip -i -sel clipboard'
bind C-v run 'tmux set-buffer "$(xclip -o -sel clipboard)"; tmux paste-buffer'
{{ end }}


# -- Plugins -------------------------------------------------------------------
set -g @catppuccin_status_modules_right "host application session"
set -g @continuum-restore 'on'

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-resurrect'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

