# -- General settings ----------------------------------------------------------
# Change the default $TERM to tmux-256color
set -g default-terminal "tmux-256color"

# Expect UTF-8 (tmux < 2.2)
set -q -g status-utf8 on
setw -q -g utf8 on

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# Focus events enabled for terminals that support them
set -g focus-events on

# Enable mouse mode (tmux 2.1 and above)
set -g mouse on

# Start window numbers with 1
set -g base-index 1
# Make pane numbering consistent with windows
setw -g pane-base-index 1

# rename window to reflect current program
setw -g automatic-rename on
# renumber windows when a window is closed
set -g renumber-windows on

# set terminal title
set -g set-titles on
set -g set-titles-string "#S:#I:#W #{session_alerts}"


# -- Styling -------------------------------------------------------------------
set -g status-interval 1

# Set the position of window lists.
set -g status-justify centre # [left | centre | right]

set -g status-right " %H:%M %d-%b-%y"
set -g status-style "fg=colour136 bg=colour235"

# Disable window status flags (https://superuser.com/a/1486890/1460933)
setw -g window-status-format "#I:#W"
setw -g window-status-current-format "#I:#W"

setw -g window-status-style "fg=colour244 bg=default"
setw -g window-status-current-style "fg=colour166 bg=default"


# -- Key bindings --------------------------------------------------------------
# Remap prefix from 'C-b' to 'C-a'
# Additional GNU-Screen compatible prefix 'C-a' besides default 'C-b'
set -g prefix2 C-a
bind C-a send-prefix -2

# Split panes using | and -
bind h split-window -h
bind v split-window -v
unbind '"'
unbind %

# Reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.config/tmux/tmux.conf \; display '~/.config/tmux/tmux.conf sourced'

# Switch panes using Alt-arrow without prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

{{ if and (eq .chezmoi.os "linux") (eq .linux.display_server "x11") }}
# Copying from Tmux buffer to Linux System clipboard
# https://linuxhint.com/copy-paste-clipboard-tmux/
bind C-c run 'tmux save-buffer - | xclip -i -sel clipboard'
bind C-v run 'tmux set-buffer "$(xclip -o -sel clipboard)"; tmux paste-buffer'
{{ end }}
