alias ls="ls -lAhGO"
alias g="git"
alias nom="npm"

alias k9="kill -9"

# `svn diff` without whitespace
alias svndiff="svn diff -x -uw"

alias svn-stash="svn diff > svn_stash.patch; svn revert -R ."
alias svn-stash-apply="patch -p0 < svn_stash.patch"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# Bossmode
alias su="sudo -i"

# Reset LaunchService database
alias reset-launchservices="/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain system -domain user"

# List npm packages without dependencies
function npm-list {
	npm ls $@ --depth=0 -s | grep "^├" | cut -c5-
}

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
