include "{{ .apps.nano.nanorc_path }}/*.nanorc"

set afterends                     # `Ctrl+Right` move to word ends instead of word starts
set atblanks                      # soft wrap at blank chars
set autoindent
set constantshow
set historylog                    # remember search history
set indicator                     # side bar for indicating cur position
set linenumbers
set mouse                         # enable mouse support
set multibuffer                   # read files into multibuffer instead of insert
set numbercolor yellow,normal
set scrollercolor grey,normal
set smarthome                     # `Home` jumps to line start first
set tabsize 4
set tabstospaces
set whitespace "»⋅"
set wordchars "_"                 # recognize '_' as part of a word
set zap                           # delete selected text as a whole

bind ^Z      undo           main
bind ^Y      redo           main
bind ^F      whereis        main
bind ^R      replace        main
bind F2      findprevious   main
bind F3      findnext       main
bind ^H      replace        main
bind M-/     comment        main

unbind F4    main
unbind ^T    main
unbind M-A   main
unbind M-]   main
unbind M-E   main
unbind ^J    main                 # for those who rarely use justify
unbind M-J   main                 # for those who rarely use justify
