format = """
$username\
$hostname\
$localip\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$memory_usage\
$env_var\
$custom\
$sudo\
$cmd_duration\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$shell\
$line_break\
$character"""

right_format = """
$kubernetes\
$docker_context\
$helm\
$python\
$terraform"""

################################################################################
# Module configuration
################################################################################

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[directory]
read_only = " "
style = "blue"

[git_branch]
symbol = " "

[git_status]
conflicted = "‼︎"
format = '([\[$conflicted$modified$untracked$ahead_behind\]]($style) )'

{{ if ne .chezmoi.os "darwin" }}
[hostname]
format = '[🌐 $hostname]($style) in '
ssh_only = false
disabled = false
{{ end }}

[memory_usage]
symbol = " "


################################################################################
# Right prompt module configuration
################################################################################

[docker_context]
format = ' [$symbol$context]($style)'
symbol = '🐳 '
only_with_files = false

[kubernetes]
format = ' [$symbol$cluster( \($namespace\))]($style)'
symbol = '🚀 '
disabled = false

[python]
format = ' [$symbol$virtualenv]($style)'
style = 'bright-black'
symbol = '🐍 '


################################################################################
# Disable unused modules
################################################################################

[aws]
disabled = true

[azure]
disabled = true

[battery]
disabled = true

[buf]
disabled = true

[c]
disabled = true

[cmake]
disabled = true

[cobol]
disabled = true

[conda]
disabled = true

[crystal]
disabled = true

[daml]
disabled = true

[dart]
disabled = true

[deno]
disabled = true

[dotnet]
disabled = true

[elixir]
disabled = true

[elm]
disabled = true

[erlang]
disabled = true

# [fennel]
# disabled = true

# [fossil_branch]
# disabled = true

[gcloud]
disabled = true

[golang]
disabled = true

# [gradle]
# disabled = true

[guix_shell]
disabled = true

[haskell]
disabled = true

[haxe]
disabled = true

[hg_branch]
disabled = true

[java]
disabled = true

[julia]
disabled = true

[kotlin]
disabled = true

[lua]
disabled = true

[meson]
disabled = true

[nim]
disabled = true

[nix_shell]
disabled = true

[nodejs]
disabled = true

[ocaml]
disabled = true

[opa]
disabled = true

[openstack]
disabled = true

[package]
disabled = true

[perl]
disabled = true

[php]
disabled = true

# [pijul_channel]
# sdisabled = true

[pulumi]
disabled = true

[purescript]
disabled = true

# [python]
# disabled = true

[raku]
disabled = true

[red]
disabled = true

[rlang]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[scala]
disabled = true

[shlvl]
disabled = true

[singularity]
disabled = true

# [solidity]
# disabled = true

[spack]
disabled = true

[swift]
disabled = true

[terraform]
disabled = true

[vagrant]
disabled = true

[vcsh]
disabled = true

[vlang]
disabled = true

[zig]
disabled = true
